#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #1a1a1a;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #1a1a1a;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 330px;
  height: 420px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
 border: 2px solid #7C22DE;
 backdrop-filter: blur(10px);
 background-color: rgba(0, 0, 0, 0.3);

}

.swiper-slide:nth-child(2n) {
    border: 2px solid #7C22DE;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
}

.swiper-slide:nth-child(3n) {
    border: 2px solid #7C22DE;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
}

.swiper-slide:nth-child(4n) {
    border: 2px solid #7C22DE;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
    .swiper {
        width: 80%;
        height: 420px;
        transform: scale(0.75);
      }
}